@mixin title-decoration {
  text-transform: uppercase;
  font-style: normal;
}

@mixin page ($bg-url){
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  background: url($bg-url);
}