$arrow-width: 42px;
$elips-width: 10px;
$title-font-size: 120px;
$title-line-height: 128px;
$title-margin: -10px;
$sub-title-font-size: 28px;
$sub-title-line-height: 32px;
$paragraph-font-size: 20px;
$paragraph-line-height: 30px;
$primary-color: white;
$link-font-size: 24px;
$link-margin: 5px;
$breakpoint-tablet: 768px;
$page-content-max-width: 515px;
$arrow-position-bottom: 75px;
$arrow-position-left-right: 100px;
