@use "mixins";
@import "_variables";
@import "../node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "../node_modules/@glidejs/glide/src/assets/sass/glide.theme";

.page-one {
  @include mixins.page("../img/Space-first.png");
}

.page-two {
  @include mixins.page("../img/Space-second.png");
}

.page-three {
  @include mixins.page("../img/Space-third.png");
}

.page-content{
  max-width: $page-content-max-width;
  color: $primary-color;
  font-family: 'Roboto';
  font-style: normal;
  margin-left: 100px;

  h1 {
    @include mixins.title-decoration;
    font-family: 'Viga';
    font-weight: 400;
    font-size: $title-font-size;
    line-height: $title-line-height;
    margin-left: $title-margin;
  }

  h2 {
    @include mixins.title-decoration;
    font-weight: 700;
    font-size: $sub-title-font-size;
    line-height: $sub-title-line-height;
  }

  p {
    font-weight: 400;
    font-size: $paragraph-font-size;
    line-height: $paragraph-line-height;
    opacity:  0.7;
    padding: 20px 0 60px 0;
  }

  a{
    font-weight: 400;
    font-size: $link-font-size;
    text-decoration: none;
    color: white;

    span {
      border-bottom: 1px solid $primary-color;
      margin-left: $link-margin;
    }
  }
}

.arrow {
  border: none;
  box-shadow: none;
  position: absolute;
  bottom: $arrow-position-bottom;
  background-color: transparent;

  &-left {
    left: $arrow-position-left-right;
  }

  &-right {
    right: $arrow-position-left-right;
  }

  svg {
    width: $arrow-width;
  }
}

@media (max-width: $breakpoint-tablet) {
  .page-content {
    max-width: calc($page-content-max-width / 2);
    margin: auto;

    h1 {
      font-size: calc($title-font-size / 2);
      line-height: calc($title-line-height / 2);
      margin-left: calc($title-margin);
    }

    h2 {
      font-size: calc($sub-title-font-size / 2);
      line-height: calc($sub-title-line-height / 2);
    }

    p {
      font-size: calc($paragraph-font-size / 2);
      line-height: calc($paragraph-line-height / 2);
      padding: 10px 0 30px 0;
    }

    a {
      font-size: calc($link-font-size / 2);

      span {
        border-bottom: 0.5px solid $primary-color;
        margin-left: calc($link-margin / 2);
      }
    }
  }

  .arrow {
    bottom: calc($arrow-position-bottom / 2);

    &-left {
      left: calc($arrow-position-left-right / 2);
    }

    &-right {
      right: calc($arrow-position-left-right / 2);
    }
    svg {
      width: calc($arrow-width / 2);
    }
  }
  .elips{
    width: calc($elips-width / 2 );
  }
}